<style>
    h2{
        font-size: 100px;
        padding:80px;
        text-align: center;
    }
    .notice{
        font-size: 30px;
        text-align: center;
        font-weight: bold;
        padding-bottom: 90px;
    }
    .notice2{
        text-align: center;
    }
    .notice2 span{
        display: inline-block;
        padding:10px 10px;
        background: #e9684a;
        border-radius: 4px;
        color:#fff;
    }
</style>
<h2>WELCOME!</h2>
<P class="notice">欢迎使用医保通运营管理系统</P>
<p class="notice2"><span>您当前还没有任何权限，请联系系统管理员添加对应的权限，祝您生活愉快！</span></p>